<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<connectionStrings>
		<add name="TestEntities" connectionString="metadata=res://*/model.Model1.csdl|res://*/model.Model1.ssdl|res://*/model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.35\sql2022;initial catalog=Test;persist security info=True;user id=sa;password=Elentr@2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
